[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
python-dotenv = "*"
djoser = "*"
pillow = "*"
whitenoise = "*"
djangochannelsrestframework = "*"
daphne = "*"
psycopg2 = "*"
django-leaflet = "*"
django-extra-fields = "*"
drf-spectacular = {extras = ["sidecar"], version = "*"}
gdal = {path = "./packages/GDAL-3.4.3-cp311-cp311-win_amd64.whl"}
pip = "*"
channels_redis = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.11"
